
html, body {
    height: 100%;
    background-color: #DDDDEA;
    font-family: Helvetica, Arial, sans-serif;
}

h3 {
    margin: 0px;
    font-size: 14px;
}

h2 {
    margin: 0px;
    font-size: 200px;
}

p {
    margin: 0px;
    font-size: 12px;
}

body {
    margin: 0;
    display: flex;

    justify-content: center;

    align-items: center;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;

    align-items: center;
    justify-content: center;
}

#submission-popup {
    padding: 25px;
    background: #EEE;
    display: block;
    margin: 50px auto;
    width: 300px;
}

#popup-desc {
    text-align: center;
    font-size: 15px;
}

#popup-guess {
    text-align: center;
}

#popup-more {
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
}

#probabilities {
    display: none;
    justify-content: center;
    padding-bottom: 20px;
}

#prob-table {
    border-collapse: collapse;
}

#prob-table tr th, td {
    font-size: 12px;
    border: 1px solid #666;
    text-align: center;
    padding: 3px 6px;
}

#prob-table th {
    background-color: #DADADA;
}

#popup-continue {
    display: flex;
    justify-content: center;
}



#container {
    background-color: #EAEAEA;
    border: 2px solid #888;
    box-shadow: 3px 3px 5px #888;
}

#controls {
    display: flex;
    padding: 10px 10px;
    justify-content: center;
}

.control-box {
    margin: 0px 10px;
}

.slider-box {
    margin-top: 15px;
    width: 150px;
}

.slider-title {
    display: inline-block;
}

.slider-desc {
    margin: 5px 0px;
}

.slider {
    width: 40px;
}

#buttons{
    width: 100px;
}

button {
    width: 100px;
    margin: 3px 0px;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

#button-clear {
    background-color: #fad9d4;
    border-color: #f5e6e4;
}

#button-submit {
    background-color: #dafad4;
    border-color: #e6f5e4;
}